<configuration>
    <conversionRule
        conversionWord="shortLoggerName"
        converterClass="com.github.otr.console_client.log_handler.ShortLoggerNameConverter"
    />
    <conversionRule
        conversionWord="shutDown"
        converterClass="com.github.otr.console_client.log_handler.ShutDownMethodConverter"
    />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>console_client/src/main/resources/tdlib/log/simple_telegram_client.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%date{HH:mm:ss}][%-12thread][%-5level][%-14shortLoggerName] - %replace(%msg){'\n', ''}\n%shutDown</pattern>
<!--            To trace logger origin call you could add [class: %class] [method: %method] -->
<!--            Also could be useful [marker: %marker] -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>
