<configuration>
    <define name="hello" class="com.github.otr.console_client.log_handler.CustomPropertyDefinedOnTheFly" />
    <conversionRule conversionWord="shortName" converterClass="com.github.otr.console_client.log_handler.ShortNameConverter" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>console_client/src/main/resources/tdlib/log/simple_telegram_client.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%date{HH:mm:ss}][ %thread %shortName ${hello} ][%-5level][%-38logger{38}] - %replace(%msg){'\n', ''}\n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>
